.env
datasets/
policies/
obsolete/
eval/temp/eval_episode_0.mp4
.vscode/settings.json
envs/__pycache__/__init__.cpython-310.pyc
envs/__pycache__/so101_env_config.cpython-310.pyc
envs/__pycache__/so101_env_tasks.cpython-310.pyc
envs/__pycache__/so101_env_utils.cpython-310.pyc
envs/__pycache__/so101_env.cpython-310.pyc
