# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtualenv / environment
.env
envs/__pycache__/

# VSCode settings
.vscode/

# Logs, temp outputs
outputs/logs/*
outputs/captured_images/
eval/temp/
eval/*.mp4

# Obsolete stuff
libs/obsolete_patches/

# Heavy data/models – use git-lfs or fetch from HF
datasets/
policies/

# Ignore all __pycache__ directories and compiled Python files
__pycache__/
*.py[cod]

# ignore the eval folder (datasets)
eval/**
# except for eval results. json
!eval/**/eval_results.json

