# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtualenv / environment
.env/
envs/__pycache__/

# VSCode settings
.vscode/

# Logs, temp outputs
outputs/logs/
outputs/captured_images/
eval/temp/
eval/*.mp4
eval/

# Obsolete stuff
libs/obsolete_patches/

# Heavy data/models – use git-lfs or fetch from HF
datasets/
policies/
src/__pycache__/paths.cpython-310.pyc
src/__pycache__/robot_utils.cpython-310.pyc
src/__pycache__/utils.cpython-310.pyc
.env
